:root {
  --primary-title-color: #212121;
  --text-color: #757575;
  --primary-bg-color: #e5e5e5;
  --accent-color: #2196f3;
}

body {
  background-color: var(--primary-bg-color);
  color: var(--primary-title-color);
}
.logo {
  color: #000000;
}
/* Навигация сайта */
.list {
  list-style: none;
}

.site-nav .link {
  color: var(--primary-title-color);
}
.site-nav .link.current {
  color: var(--accent-color);
}

.contacts .item {
  color: var(--text-color);
}
.contacts .item:hover,
.contacts .item:focus {
  color: var(--accent-color);
}
/* Стили страницы Портфолио */
/* Меню портфолио */
.button {
  background-color: #f5f4fa;
  color: var(--primary-title-color);
}
.button:hover,
.button:focus {
  background-color: var(--accent-color);
  color: #ffffff;
}

/* Примеры работ */
.work-exemples .text {
  color: var(--text-color);
}
