:root {
  --primary-title-color: #212121;
  --text-color: #757575;
  --primary-bg-color: #e5e5e5;
  --accent-color: #2196f3;
}

body {
  background-color: var(--primary-bg-color);
  color: var(--primary-title-color);
}
.logo {
  color: #000000;
}
/* Навигация сайта */
.list {
  list-style: none;
}

.site-nav .link {
  color: var(--primary-title-color);
}
.site-nav .link.current {
  color: var(--accent-color);
}
.site-nav .link {
  cursor: pointer;
}
/* Раздел контакты в навигации */
.contacts .item {
  color: var(--text-color);
}
.contacts .item:hover,
.contacts .item:focus {
  color: var(--accent-color);
}
/* Стили страницы Студия */
.hero-title {
  color: #ffffff;
  background-color: #2f303a;
}
.button-primary {
  background-color: var(--accent-color);
  color: #ffffff;
}
.button-primary {
  cursor: pointer;
}
/* Секция Наша Команда */
.text {
  color: var(--text-color);
}

/* Стили страницы Портфолио */
/* Меню портфолио */
.button {
  background-color: #f5f4fa;
  color: var(--primary-title-color);
}
.button:hover,
.button:focus {
  background-color: var(--accent-color);
  color: #ffffff;
}
.button {
  cursor: pointer;
}

/* Примеры работ */
.exemples .text {
  color: var(--text-color);
}
/* Footer */
.address {
  background-color: #2f303a;
}
.address .location {
  color: #ffffff;
}
.address .location:hover,
.address .location:focus {
  color: var(--accent-color);
}

.address .item {
  color: rgba(255, 255, 255, 0.6);
}
.address .item:hover,
.address .item:focus {
  color: var(--accent-color);
}
.address .item,
.address .location {
  cursor: pointer;
}
