body {
  font-family: Roboto, sans-serif;
  color: #212121;
}
:root {
  --active-color-item: #2196f3;
  --active-color-text: #eeeeee;
  --portfolio-item-description: #757575;
}

.portfolio-header {
  font-size: 14px;
  line-height: 100%;
}
.portfolio-header-navigation-links:hover,
.portfolio-header-navigation-links:focus,
.portfolio-header-navigation-links:active,
.contact-information-item:hover,
.contact-information-item:focus {
  color: var(--active-color-item);
}

.portfolio-menu {
  font-weight: 500;
  font-size: 16px;
  line-height: 139%;
}
.portfolio-button:hover {
  cursor: pointer;
  background-color: var(--active-color-item);
  color: var(--active-color-text);
}

.portfolio-item-name {
  line-height: 171%;
}
.portfolio-item-description {
  font-weight: normal;
  font-size: 16px;
  line-height: 160%;
  color: var(--portfolio-item-description);
}
